@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    
  }
.header{
    margin-top: 10px;
}
.container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
.header-1{
    width: 80px;
    height: 44px;
    left: 192px;
    top: 23px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #65676D;
    font-family: 'Nunito', sans-serif;
    margin-left: 45px;
}
.header-2{
    width: 86px;
    height: 19px;
    left: 1004px;
    top: 30px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #65676D;
    margin-left: 80px;
    text-decoration: none;
    
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header_btn{
    width: 157px;
    height: 35px;
    background: #FFB7D5;
    box-shadow: 0px 8px 30px #FFB7D5;
    border-radius: 91.2332px;
    border-color: #FFB7D5 ;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 90px;
}
.header-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
    height: 50px;
}
.header-wrp{
    display: flex;
    align-items: center;
}
.main-text{
    width: 447px;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: #FFB7D5;
}
.text-1{
    width: 422px;
    height: 90px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #293241;    
}

.start-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_btn-1{
    width: 290px;
    height: 55px;
    left: 1180px;
    top: 28px;
    background: #FFB7D5;
    box-shadow: 0px 8px 30px #FFB7D5;
    border-radius: 91.2332px;
    border-color: #FFB7D5 ;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 184px;
    
}
.home{
    margin-top: 65px;
}
.about-us-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: left;   
    color: #000000;    
}
.about-us{
    margin-top: 120px;
}
.about-us-photext{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top: 119px;
}
#ast{
    margin-top: 100px;
}
#abt1{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;   
    color: #293241;   
    font-family: 'Nunito';
    font-style: normal;
    text-align: center;   
    color: #293241;
    margin-bottom: 65px;
}
.reviews-photos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.reviews{
    margin-top: 250px;
}
@media(max-width:846px){
    textarea{
    width: 100%;
    }
}
@media(max-width:425px){
    
}